body,h1,h2,h3,h4,p,form,ol,ul{margin:0;}
ol,ul{padding:0;}
body,textarea,input,option,button{font:1.5em \"PT Serif\",\5FAE\8EDF\6B63\9ED1\9AD4,\5FAE\8F6F\96C5\9ED1,\534E\6587\7EC6\9ED1,Georgia,Times,\"Times New Roman\",serif;color:#222;}
h1,h2,h3,h4{font-weight:300;}
textarea:focus,input:focus{outline:none;}
::selection{background:rgba(0,149,255,0.1);}
ul{list-style-type:none;}
a{color:#333;text-decoration:none;}
html{overflow:auto;overflow-y:scroll;}
img{border:0 none;width:55px;height:54px;}
.o{overflow:hidden;zoom:1;}
.l{float:left;}
.r{float:right;}

html{text-align:center;}
h1{font-size:3em;padding:1em 0;}
p{padding:10px 0;}
.footer{padding:3em;color:#999;}
